<div class="form-group container-fluid">
    <div class="static">
      <p>Tiempo restante: {{ transform(timeLeft) }}</p>
    </div>
    <div>
      <h1>SERIE 6</h1>
      Anote la contestación correcta como lo muestran los ejemplos:
      <br />
      EJEMPLO:
      <br />
      Se hace el carbón de la madera ...................................... Si
      <br />
      Tienen todos los hombres 1.70 mts de altura ................ No
    </div>
    <br />
    <form [formGroup]="formSeis" (ngSubmit)="evaluateForm()">
      <div class="form-group" *ngFor="let question of questions; let i = index">
        <div>
          <label for="exampleFormControlInput1">
            {{ question.question.text }}</label
          >
        </div>
        <div class="form-check form-check-inline">
          <input
            type="text"
            class="form-control"
            placeholder="Ingresa tu respuesta"
            formControlName="{{ question.question.id }}"
            onkeypress="return /[a-z]/i.test(event.key)"
          />
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
  </div>
  
