.image{
    width: 50%;
    height: 50%;
    z-index: -1;
}

.imagedos{
    width: 25%;
    height: 25%;
    z-index: -1;
}

.container-fluid{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
}