<div *ngIf="this.helpers.test === 1">
    <div class="form-group container-fluid" *ngIf="timeLeft > 0; else noTime">
        <!--<div class="static">
          <p>Tiempo transcurrido: {{ transform(time) }}</p>
        </div>-->
        <div class="static">
          <p>Tiempo restante: {{ transform(timeLeft) }}</p>
        </div>
        <br />
        <form [formGroup]="formPreguntas" (ngSubmit)="wonderlic()">
          <div class="form-group" *ngFor="let question of questionsW; let i = index">
            <div>
              <label for="exampleFormControlInput1">
                {{ question.question.text }}</label
              >
              <div class="image" *ngIf="question.image != '0'">
                <img src="./assets/img/{{ question.image }}" alt="" class="image" />
              </div>
            </div>
      
            <div
              class="form-check form-check-inline"
              *ngFor="let answer of question.answers; let j = index"
            >
              <div *ngIf="answer.name != 'string' && answer.name != 'number'">
                <input
                  class="form-check-input"
                  type="radio"
                  id="inlineRadio1"
                  value="{{ answer.id }}"
                  formControlName="{{ question.question.id }}"
                />
                <label class="form-check-label" for="inlineRadio1">{{
                  answer.name
                }}</label>
              </div>
              <div *ngIf="answer.name == 'number'">
                <div class="form-check form-check-inline">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Ingresa tu respuesta"
                    formControlName="{{ question.question.id }}"
                    onkeypress="return /[0-9.]/i.test(event.key)"
                  />
                </div>
              </div>
              <div *ngIf="answer.name == 'string'">
                <div class="form-check form-check-inline">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Ingresa tu respuesta"
                    onkeypress="return /[a-z]/i.test(event.key)"
                    formControlName="{{ question.question.id }}"
                  />
                </div>
              </div>
            </div>
          </div>
          <button *ngIf="userAns.length == 0" type="submit" class="btn btn-primary">
            Enviar
          </button>
        </form>
        <div *ngIf="userAns.length != 0 && timeLeft > 0">
          <p>{{ this.resultado }}</p>
          <p>{{this.aplicacion}}</p>
          <button
            [routerLink]="['']"
            routerLinkActive="router-link-active"
            class="btn btn-primary"
          >
            Salir
          </button>
        </div>
      </div>
      <ng-template #noTime>
        <div
          class="d-flex justify-content-center align-items-center"
        >
          <p class="text-center text10">Tu tiempo termino</p>
        </div>
        <div>
          <p>{{ this.resultado }}</p>
          <p>{{this.aplicacion}}</p>
          <button
            [routerLink]="['']"
            routerLinkActive="router-link-active"
            class="btn btn-primary"
          >
            Regresar al inicio
          </button>
        </div>
      </ng-template>
</div>

<div *ngIf="this.helpers.test === 2">
  <div class="form-group container-fluid">
    <div class="static">
      <p>Tiempo restante: {{ transform(timeLeft) }}</p>
    </div>
      <div>
        <h1>SERIE 1</h1>
        Seleccione la letra correspondiente a la palabra que complete correctamente la oración.
      </div>
      <br>
      <div>
      <form
        [formGroup]="formPreguntas"
        (ngSubmit)="termanMerril()"
      >
        <div class="form-group" *ngFor="let question of questionsTU; let i = index">
          <div>
            <label for="exampleFormControlInput1">
              {{ question.question.text }}</label
            >
          </div>
          <div>
            <div
              class="form-check form-check-inline"
              *ngFor="let answer of question.answers; let j = index"
            >
              <input
                class="form-check-input"
                type="radio"
                id="inlineRadio1"
                value="{{ answer.id }}"
                formControlName="{{ question.question.id }}"
              />
              <label class="form-check-label" for="inlineRadio1">{{
                answer.name
              }}</label>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </div>
    </div>
</div>

