<div class="form-group container-fluid">
    <div class="static">
      <p>Tiempo restante: {{ transform(timeLeft) }}</p>
    </div>
    <div>
      <h1>SERIE 4</h1>
      Seleccione las letras correspondientes a las dos palabras que indican
algo que SIEMPRE TIENE EL SUJETO. Seleccione SOLAMENTE DOS para cada renglón
      <br />
      EJEMPLO :
Un hombre tiene siempre :
a) cuerpo
b) gorra
c) guantes
d) boca
e) dinero ............................................................................. ( a, d )
    </div>
    <br />
    <!--<form [formGroup]="formCuatro" (ngSubmit)="evaluateForm()">-->
      <div class="form-group" *ngFor="let question of questions; let i = index">
        <div>
          <label for="exampleFormControlInput1">
            {{ question.question.text }}</label
          >
        </div>
        <div>
            <div
              class="form-check form-check-inline"
              *ngFor="let answer of question.answers; let j = index"
            >
              <input
                class="form-check-input"
                type="checkbox"
                id="inlineRadio1"
                (change)="changeValue($event, question.question.id)"
                value="{{ answer.id }}"
                
              />
              <label class="form-check-label" for="inlineRadio1">{{
                answer.name
              }}</label>
            </div>
          </div>
        <!--<div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      id="inlineRadio2"
                      value="2"
                      formControlName="one"
                    />
                    <label class="form-check-label" for="inlineRadio2">Marzo</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      id="inlineRadio1"
                      value="3"
                      formControlName="one"
                    />
                    <label class="form-check-label" for="inlineRadio1">Julio</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      id="inlineRadio2"
                      value="4"
                      formControlName="one"
                    />
                    <label class="form-check-label" for="inlineRadio2">Diciembre</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      id="inlineRadio1"
                      value="5"
                      formControlName="one"
                    />
                    <label class="form-check-label" for="inlineRadio1">Octubre</label>
                  </div>-->
      </div>
      <button type="submit" class="btn btn-primary" (click)="sendResults()">Enviar</button>
    <!--</form>-->
  </div>
